body, html {
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
	min-width: 300px;
	min-height: 550px;
}

* {
	box-sizing: border-box;
}

body:after{
	content: "";
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.4);
	pointer-events: none;
}

.bg-image {
	/* Image du background login */
	background-image: url("../../../Design/Images/Image_login@0_5x.jpg");
	/* Effet de flou */
	filter: blur(28px);
	-webkit-filter: blur(28px);
	/* Full height */
	height: 100vh;
	/* Centrer l'image et l'adapter à la taille */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*Pour éviter d'avoir les bordures blanches dues au blur*/
	transform: scale(1.1);
}


/* Div au milieu de la page */
.bg-login {
	/*Style de la div login*/
	background-color: rgba(227,212,212, 0.5); /* Background coloré avec opacité */
	transform: translate(-50%, -50%);
	position: absolute;
	border-radius: 6px;
	height: 80%;
	width: 30%;
	min-height:550px;
	min-width:400px;
	left: 50%;
	top: 50%;
	z-index: 2;
}

/*.Logo #rectangle {
											Rectangle temporaire : remplacer par logo
	transform: translate(-50%, -50%);
	border: 1px solid rgb(112,112,112);
	border-radius: 15px;
	top: 20%;
	left: 50%;
	position: absolute;
	width: 70px;
	height: 70px;
	background: white;
}

.Logo .txt {
	Font style
	text-align: center;
	font-size: 35px;
	font-family: 'Segoe UI';
	color: white;
	font-weight: normal;

	Font position
	transform: translate(-50%, -50%);
	top: 25%;
	left: 50%;
	position: absolute;
}*/
.Logo-div {
	height: 40%;
	display: flex;
	justify-content: center;
}
.white-rect{
	display:flex;
	justify-content:center;
	align-items:center;
}
.Logo{
	width:60%;
	background-color: rgba(255,255,255, .2);
	padding:10px;
	border-radius:10px;
}

form {
	transform: translate(-50%, -50%);
	top: 60%;
	left: 50%;
	position: absolute;
	width:70%;
}

::placeholder{
  color: white;
}

.inputFields {
	border: 1px solid white;
	border-radius: 8px;
	width: 100%;
	padding: 10px;
	color: white;
	margin-top: 20px;
	background: transparent;
	padding-left: 35px;
	user-select: none;
}

.inputFields:hover {
	border: 1px solid lightgray;
	border-radius: 8px;
}

.inputFields:focus {
	border: 1px solid #2196F3;
	border-radius: 8px;
	outline: none;
}

.Credentials input[name=login] {
	background: url("../../../Design/icons/usr/icon_User@2x.png") no-repeat scroll 7px 7px;
	background-size: 20px;
	background-position-y: center;
}

.Credentials input[name=mail] {
	background: url("../../../Design/icons/email/icon_Email@2x.png") no-repeat scroll 7px 7px;
	background-size: 20px;
	background-position-y: center;
}

.Credentials input[name=password], input[name=confirmPassword] {
	background: url("../../../Design/icons/lock/icon_Lock@2x.png") no-repeat scroll 7px 7px;
	background-size: 20px;
	background-position-y: center;
}

.btn {
	background-color: rgb(84,97,209);
	border: none;
	border-radius: 8px;
	width: 100%;
	padding: 12px;
	color: white;
	margin-top: 20px;
	cursor: pointer;
	opacity: 0.8;
}

.btn:hover {
	opacity: 1;
}


/*Style du label à côté de la checkbox */
.container {
	display: block;
	position: relative;
	padding-top:30px;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	color:white;
	font-size: 14px;
	-webkit-user-select: none;
	user-select: none;
}

/* On cache la checkbox du navigateur par défaut */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Style de la checkbox */
.checkmark {
	position: absolute;
	top: 27px;
	left: 0;
	height: 22px;
	width: 22px;
	border-radius:3px;
	border:1px solid white;
	background-color: none;
}

/* Style Hover */
.container:hover input ~ .checkmark {
	background-color: #ccc;
}

/* Style checked */
.container input:checked ~ .checkmark {
	background-color: #2196F3;
}

/* On crée une icone de validation cachée lorsque la checkbox n'est pas cochée */
.checkmark:after {
	content: "";
	position: absolute;
	opacity:0;
}

/* On affiche l'icone */
.container input:checked ~ .checkmark:after {
	opacity:1;
}

/* Style de l'icone */
.container .checkmark:after {
	left: 6px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}


.Other .links {
	margin-top:20px;
	position:relative;
}

.Other a {
	color: white;
	font-size: 14px;
	text-decoration: none;
	outline: none;
	cursor:pointer;
}

.Other a:hover {
	border-bottom: 1px solid;
}

.Other #fPassword{
	float:right;
}