/*#region body*/
body, html {
	margin: 0;
	font-family: "Segoe UI";
	font-weight:500;
	min-width: 300px;
	min-height: 550px;
	background-color: #EEFBFF;
}

input, input:focus, input:active {
	outline: none;
}

* {
	box-sizing: border-box;
}
/*#endregion body*/

/*#region Global Content*/

.Content {
	display: flex;
	justify-content: space-around;
	top: 0;
	margin: 25px 0;
	width: 100%;
	position: relative;
}

.mainContent {
	display: flex;
	flex-direction: column;
	width: 40%;
}

.form{
}

/*#region content Header Form*/
.container .headQuestion {
	border-radius:8px;
	box-shadow: 0 0 3px #B7ADA1;
	background-color: white;
	padding: 10px 25px;
}
.container input {
	outline:none;
}

.mainTitle {
	font-size: 35px;
}

.mainDesc {
	font-size: 18px;
}
/*#endregion content HeaderForm*/

/*#region divContent*/
/*Contenu des divs*/

/*Pour la barre qui souligne l'input*/
.Underline {
	border:none;
	border-bottom: 1px solid #dadada;
}

.question-div {
	background-color: white;
	box-shadow: 0 0 3px #B7ADA1;
	margin-top: 25px;
	padding: 10px 25px 40px 25px;
	border-radius: 8px;
}

/*Nom de la question*/
.question-title {
	background-color: transparent;
	width: 100%;
	padding: 10px 10px 20px 0;
	margin-bottom: 20px;
	border:none;
	outline:none;
}

.divTitle{
	display:flex;
	align-items:center;
	justify-content:flex-start;
}

/*#region Type des questions*/

.Temp{
	display:none;
}

.mustDoStar{
	color:crimson;
	padding: 10px 2px 20px 0;
}

/*Reponse courte*/
.reponseCourte {
	width: 40%;
}

/*Reponse longue*/
.reponseLongue {
	width: 100%;
}

/*#region design checkbox/select*/
.flexColumn {
	display: flex;
	flex-direction: column;
}

.btnContainer {
	display: flex;
	position: relative;
	padding-left: 35px;
	margin-bottom: 10px;
	cursor: pointer;
	user-select: none;
	height:25px;
	align-items:center;
}

/*on cache l'ancien bouton*/
.btnContainer input{
	position:absolute;
	opacity:0;
	cursor:pointer;
}

.Checkbox input{
	height:0;
	width:0;
}

/*design donné au nouveau bouton*/
.checkMark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	border:2px solid #aaaaaa;
}

/*pour echelle lineaire*/
.echelleLineaire {
	display: flex;
	margin: 0 0 20px 0;
	justify-content:center;
}

.eLineaireContent {
	display: flex;
	width: 80%;
	justify-content: space-between;
}

.echelleELContainer{
	justify-content:flex-end;
	align-items:flex-end;
}

.echelleEL {
	padding:0;
	margin:0 0 5px 0;
}

.eLineaire {
	align-items: center;
	margin-bottom: 0;
	padding-left: 0;
	height: 100%;
}

.eLin{
	position:relative;
	left:50%;
	transform:translate(-50%, 0);
	top:auto;
	bottom:0;
}
.btnContainer:hover input ~ .checkmark {
	background-color: #ccc;
}

.btnContainer:hover input ~ .checkmark {
	background-color: transparent;
	border: 2px solid #2196F3;
}

.btnContainer input:checked ~ .checkmark {
	border: 2px solid #2196F3;
}

.cacBtnContainer input:checked ~ .checkmark {
	background-color: #2196F3;
}

/*Difference des checkbox*/
.btnContainer .Checkbox ~ .checkMark{
	border-radius:3px;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.btnContainer input:checked ~ .checkmark:after {
	display: block;
}

.btnContainer .checkmark:after {
	top: 4px;
	left: 4px;
	width: 13px;
	height: 13px;
	background-color: #2196F3;
}
.container .cMult:after {
	border-radius: 50%;
}
.container .cacBtn:after {
	left: 7px;
	top: 3px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
	background-color: transparent;
}
/*#endregion design  checkbox/select*/

/*Cases a cocher*/
.Checkbox {
	width: 25px;
}

/*#region Liste deroulante*/
/*Liste deroulante*/
.listeDeroulante {
	position: relative;
	display: inline-block;
	margin-bottom: 15px;
	width: 30%;
}

.listeDeroulante select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 15px 15px;
    outline: none;
    border: 1px solid #aaaaaa;
    border-radius: 8px;
    background: white;
    color: #7b7b7b;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.listeDeroulante select:hover, .listeDeroulante select:focus {
	color: #000000;
    background: #eee;
}

.listeDeroulante select:disabled {
	opacity: 0.5;
	pointer-events: none;
}

.select_arrow {
    position: absolute;
    top: 50%;
	transform:translateY(-50%);
    right: 25px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 7px 0px 7px;
    border-color: #7b7b7b transparent transparent transparent;
}

.listeDeroulante select:hover ~ .select_arrow, .listeDeroulante select:focus ~ .select_arrow {
	border-top-color: #000000;
}

.listeDeroulante select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}
/*#endregion Liste deroulante*/

/*#region Grilles*/
.Grille{
	display:grid;
	justify-content:space-between;
}

.Grille div{
	display:flex;
	justify-content:center;
	align-items:center;
}
/*#endregion Grilles*/
/*#endregion Type des questions*/

.sendButton {
	
}
.sendAnswerButton {
	border: none;
	border-radius: 8px;
	margin-top: 15px;
	background-color: #004970;
	padding: 12px 40px;
	color: white;
	font-weight: 700;
	font-size: 15px;
}
/*#endregion content HeaderForm*/

/*#endregion Global Content*/