/*#region General*/
.Content {
	margin: 150px 0 50px 0;
}

.mainContent {
	display: flex;
	flex-direction: column;
	width: 40%;
}

.tabcontent form .container{
	display:flex;
	flex-direction:column;
}


/*#endregion General*/


/*#region questions Form*/

/*#region tab Header Form*/
.tab {
	display: flex;
	justify-content: space-around;
	box-shadow: 0px 0px 3px #B7ADA1;
	border-radius: 20px 20px 0 0;
}

.tab button{
	padding:10px 0px;
	width:50%;
	border:none;
	outline:none;
	font-size:18px;
	color:#888888;
	font-weight:bold;
	background-color: #FFF2E3;
}

.tab #b1{
	border-radius: 20px 0 0 0;
	border-right:1px solid #F08700;
}

.tab #b2{
	border-radius: 0 20px 0 0;
}
.tab button.active{
	background-color: white;
}

/*#endregion tab Header Form*/


/*#region content Header Form*/
.tabcontent form .container .headQuestion {
	border-radius: 0 0 8px 8px;
	box-shadow: 0 -3px 0 #fff, 0 1px 3px #B7ADA1;
	background-color: white;
	padding: 10px 25px;
}

.tabcontent form .container input:active, input:focus{
	outline:none;
}

.tabcontent form .container input{
	width:100%;
	border:none;
	border-bottom:1px solid #dadada;
	margin-bottom:20px;
}

.mainTitle{
	font-size:35px;
}

.mainDesc {
	font-size: 18px;
}
/*#endregion content HeaderForm*/


/*#region divContent*/
/*Contenu des divs*/

 .form .question-div {
	background-color: white;
	box-shadow: 0 0 3px #B7ADA1;
	margin-top: 25px;
	padding: 25px 25px 20px 25px;
	border-radius: 8px;
}
 .form .question-div .question-title {
	background-color: #F1F1F1;
	width : 55%;
	padding : 10px;
	border: none;
	box-shadow: 0 1px #707070;
}
 .form .question-div .select-choice {
	width : 30% ;
	padding : 8px;
	border-radius : 5px;
	border-color: #707070;
	margin-left : 14%;
}
 .form .question-div .select-choice:focus {
	background:none;
	color:black;
}

 .form .question-div .requiered-field{
	display :flex;
	justify-content:flex-end;
	align-items:center;
	margin:5px;
}
 .form .question-div .requiered-field p{
	margin:0px;
	padding:0px;
}
 .form .question-div .requiered-field .check-requiered {
	margin:0px;
	margin-left:5px;
	width:20px;
}
 .form .question-div .rm-division {
	border:0px;
	margin:0px;
	padding:0px;
	background:none;
}
 .form .question-div .requiered-bar {
	margin-top:50px;
	height:0.5px;
	border-width:0;
	color:gray;
	background-color:gray;
}
 .form .question-div .requiered-field .vertical-bar {
	border-right:2px solid gray;
}


/*Types de questions*/
/*Réponses courtes*/
 .form .question-div .short-answer{
	margin-top:25px;
	width:60%;
	margin-bottom:0px;
	font-family: Arial,sans-serif;
	font-size:13px;
}

/*Réponses longues*/
 .form .question-div .long-answer {
	width: 80%;
	height: 21px;
	margin-top: 25px;
	resize : none;
	border: 0px;
	font-family: Arial,sans-serif;
	font-size:13px;
	border-bottom: 1px solid #BFC2C7;
}

/*Réponses courtes et longues #placeholder et focus */
 .form .question-div .short-answer:placeholder {
	color:#70757a;
	font-family: Arial,sans-serif;
}
 .form .question-div .short-answer:focus{
	background:none;
	border-bottom: 1px solid #BFC2C7;
}
 .form .question-div .question-content .long-answer:placeholder {
	color:#70757a;
	font-family: Arial,sans-serif;
}
 .form .question-div .question-content .long-answer:focus {
	background:none;
	border-bottom: 1px solid #BFC2C7;
}

/*Choix multiples, cases à cocher, listes déroulantes, grilles*/
 .form .question-div .multiple-choice{
	display:flex;
	align-items:center;
	margin-top:20px;
	margin-bottom:20px;
	height:20px;
}
 .form .question-div .multiple-choice .check-button {
	margin: 0px;
	margin-left: 5px;
	margin-right:5px;
	width: 5%;
}
 .form .question-div .multiple-choice .check-name{
	margin:0px;
	padding:0px;
	border:0px;
	width:90%;
	padding-bottom : 2px;
}
 .form .question-div .multiple-choice .check-namelist {
	margin:0px;
	padding:0px;
	border:0px;
	width:95%;
	padding-bottom : 2px;
}

 .form .question-div .multiple-choice .check-namelist:hover{
	border-bottom:1px solid #70757a;
}
 .form .question-div .multiple-choice .check-name:hover{
	border-bottom:1px solid #70757a;
}
 .form .question-div .multiple-choice .check-namelist:focus{
	border-bottom:2px solid #004970;
	color:black;
	background:none;
}
 .form .question-div .multiple-choice .check-name:focus{
	border-bottom:2px solid #004970;
	color:black;
	background:none;
}
.rm-option{
	margin-left: 10px;
	background:none;
	border:0px;
}
.rm-option:hover{
	background-color:#f0f0f0;
	cursor:pointer;
}

/*Listes déroulantes*/
 .form .question-div .multiple-choice .margin-list{
	margin-left:10px;
}

/*Echelle linéaire*/
 .form .question-div .select-sameline .select-linear{
	background-color:white;
	padding:5px;
	border-radius:5px;
	color:black;
	margin-left:10px;
}
 .form .question-div .select-sameline{
	display:flex;
	align-items:center;
	margin-top:15px;
	margin-bottom: 10px;
	margin-left:10px;
}
 .form .question-div .select-sameline .check-line{
	margin:0px;
	padding:0px;
	border:0px;
	width:40%;
	padding-bottom : 2px;
}
 .form .question-div .select-sameline .check-line:hover{
	border-bottom:1px solid #70757a;
}

 .form .question-div .select-sameline .check-line:focus{
	border-bottom:2px solid #004970;
	color:black;
	background:none;
}

/*Ajouter une option*/
 .form .question-div .question-content .add-choice,.add-check,.add-list,.add-line,.add-column-multiple,.add-column-checkbox {
	margin-left: 10px;
	background:none;
	border: 1px solid #f0f0f0;
	border-radius:5px;
	padding:2px 5px 2px 5px;
}
 .form .question-div .question-content .add-choice:hover,.add-check:hover,.add-list:hover,.add-line:hover,.add-column-multiple:hover,.add-column-checkbox:hover {
	background-color:#f0f0f0;
	cursor:pointer;
}
/* Module d'edition. Faire en fonction du temps qui nous reste une animation pour le scroll*/
.tabcontent form .container .contentQuestion .module {
	position: fixed;
	top: 250px;
	right: 25%;
	background-color: white;
	box-shadow: 0 0 3px #B7ADA1;
	border-radius: 8px;
}

.tabcontent form .container .contentQuestion .module .insideModule{
	margin:10px 0 10px 0;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

.tabcontent form .container .contentQuestion .module .insideModule input{
	width:40px;
	height:40px;
	border:none;
	border-radius:20px;
	background-size:20px;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:center;
	margin:3px;
}

.tabcontent form .container .contentQuestion .module .insideModule input:hover{
	background-color:#f0f0f0;
}

.btn-add {
	background-image: url("../../../../Design/icons/add/icon_add@2x.png");
}

.btn-save{
	background-image: url("../../../../Design/icons/save/icon_save@2x.png");
}

.btn-del {
	background-image: url("../../../../Design/icons/trash/icon_trash@2x.png");
}

#Reponse {
}



/*#endregion divContent*/


/*#region main Form Content*/
/*#endregion main Form Content*/

/*#endregion questions Form*/