/*#region General*/
.Content {
	margin: 150px 0 50px 0;
}

.mainContent {
	display: flex;
	flex-direction: column;
	width: 40%;
}

.tabcontent form .container{
	display:flex;
	flex-direction:column;
}


/*#endregion General*/


/*#region questions Form*/

/*#region tab Header Form*/
.tab {
	display: flex;
	justify-content: space-around;
	box-shadow: 0px 0px 3px #B7ADA1;
	border-radius: 20px 20px 0 0;
}

.tab button{
	padding:10px 0px;
	width:50%;
	border:none;
	outline:none;
	font-size:18px;
	color:#888888;
	font-weight:bold;
	background-color: #FFF2E3;
}

.tab #b1{
	border-radius: 20px 0 0 0;
	border-right:1px solid #F08700;
}

.tab #b2{
	border-radius: 0 20px 0 0;
}
.tab button.active{
	background-color: white;
}

/*#endregion tab Header Form*/


/*#region content Header Form*/
.tabcontent form .container .headQuestion {
	border-radius: 0 0 8px 8px;
	box-shadow: 0 -3px 0 #fff, 0 1px 3px #B7ADA1;
	background-color: white;
	padding: 10px 25px;
}

.tabcontent form .container input:active, input:focus{
	outline:none;
}

.tabcontent form .container input{
	width:100%;
	border:none;
	border-bottom:1px solid #dadada;
	margin-bottom:20px;
}

.mainTitle{
	font-size:35px;
}

.mainDesc {
	font-size: 18px;
}
/*#endregion content HeaderForm*/


/*#region divContent*/
/*Contenu des divs*/

#Question .form .question-div {
	background-color: white;
	box-shadow: 0 0 3px #B7ADA1;
	margin-top: 25px;
	padding: 50px 25px 50px 25px;
	border-radius: 8px;
}
#Question .form .question-div .question-title {
	background-color: #F1F1F1;
	width : 55%;
	padding : 10px;
	border: none;
	box-shadow: 0 1px #707070;
}
#Question .form .question-div .select-choice {
	width : 30% ;
	padding : 8px;
	border-radius : 5px;
	border-color: #707070;
	margin-left : 14%;
}

#Question .form .question-div .requiered-field{
	display :flex;
	justify-content:flex-end;
	padding:0;
}
#Question .form .question-div .requiered-field span{

}
#Question .form .question-div .check-requiered {
	padding:0;
	width:20px;
}

/* Barre de droite qui ne bouge pas. Faire en fonction du temps qui nous reste une animation pour le scroll*/
.tabcontent form .container .contentQuestion .module {
	position: fixed;
	top: 250px;
	right: 15%;
	background-color: white;
	box-shadow: 0 0 3px #B7ADA1;
	border-radius: 8px;
}

#Reponse {
	display: none;
}
/*#endregion divContent*/


/*#region main Form Content*/
/*#endregion main Form Content*/

/*#endregion questions Form*/