/*#region Header*/

.formTitle {
	display: flex;
	justify-content: center;
	width: 100%;
}

.formTitle div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75%;
}

.formTitle h1 {
	font-size:20px;
}

.formTitle h2 {
	font-size:15px;
	margin-left:10px;
}

/*#endregion Header*/


/*#region Sous-Header*/

/*#region Main*/
.secondHeader {
	top: 65px;
	margin: 0;
	width: 100%;
	position: fixed;
	z-index: 9;
	background-color: #F08700;
}

.contentSecondHeader {
	display:flex;
	justify-content:flex-end;
}

.contentSecondHeader button{
	margin:15px 20px;
}

/*#endregion Main*/

/*#region Content*/
.overview, .burgerMenu {
	background-color:transparent;
	border:none;
}

.overview {

}

.shareButton {
	background-color: #004970;
	color:white;
	border:none;
	padding:5px 20px 5px 20px;
	border-radius:5px;
}
.shareButton:hover, :focus {
	background-color: #2980B9;
	color: white;
	cursor:pointer;
	outline:none;
}

.burgerMenu {

}

/*#endregion Content*/


/*#region Bouton Partage*/
/* Ajoute un style minimum au container */
.divContentToPopup {
	max-width: 300px;
	padding: 10px;
	background-color: white;
	border-radius: 8px;
	z-index:100;
}

/*#endregion Bouton Partage*/

/*#endregion Sous-Header*/
