/*#region Header*/

.formTitle {
	display: flex;
	justify-content: center;
	width: 100%;
}

.formTitle div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75%;
}

.formTitle h1 {
	font-size:20px;
}

.formTitle h2 {
	font-size:15px;
	margin-left:10px;
}

/*#endregion Header*/


/*#region Sous-Header*/

/*#region Main*/
.secondHeader {
	top: 65px;
	margin: 0;
	width: 100%;
	position: fixed;
	z-index: 99;
	background-color: #F08700;
}

.contentSecondHeader {
	display:flex;
	justify-content:flex-end;
}

.contentSecondHeader button{
	margin:15px 20px;
}

/*#endregion Main*/

/*#region Content*/
/*#region Bouton Partage*/
.overview, .burgerMenu {
	background-color:transparent;
	border:none;
}

.overview {

}

.shareButton {
	background-color: #004970;
	color:white;
	border:none;
	padding:5px 20px 5px 20px;
	border-radius:5px;
}
.shareButton:hover, :focus {
	background-color: #2980B9;
	color: white;
	cursor:pointer;
	outline:none;
}

.burgerMenu {

}

/* Ajoute un style minimum au container */
.divContentToPopup {
	top:0;
	left:0;
	height:100%;
	width:100%;
	position:fixed;
	background-color: rgba(0,0,0, .4);
	z-index: 101;
}

.Popup{
	height:50%;
	width:30%;
	position:fixed;
	top:8%;
	left:50%;
	transform:translateX(-50%);
}

.popupContent {
	display:flex;
	flex-direction:column;
	background-color: white;
	border-radius:8px;
	height:100%;
	width:100%;
}

.popupContentInside{
	margin:50px;
}

.popupHead {
	display: flex;
	justify-content:space-between;
	background-color: rebeccapurple;
}

.popupHead h1{
	font-size:24px;
}

.linkToCopy{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.btn-close{
	border:none;
	border-radius:15px;
	width:30px;
	height:30px;
	background-color:transparent;
}

.btn-close:hover {
	background-color:#f0f0f0;
}

/*#endregion Bouton Partage*/
/*#endregion Content*/

/*#endregion Sous-Header*/
