/*#region body*/
body, html {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	min-width: 300px;
	min-height: 550px;
	background-color: #EEFBFF;
}

* {
	box-sizing: border-box;
}
/*#endregion body*/

/*#region Global Header*/
/*Style du header*/

/*#region headerMain*/
/*Mise en forme globale du Header*/
.Header {
	top: 0;
	margin: 0;
	width: 100%;
	position: fixed;
	background-color: #004970;
	z-index: 100;
	height:65px;
}

.contentHead {
	margin: 7px 25px;
	color: white;
	display: flex;
}

.contentHead a, a:link, a:active, a:visited{
	color:white;
	text-decoration:none;
	font-size:16px;
}
/*#endregion headerMain*/

/*#region logo*/
/*Mise en forme du logo*/
.Logo {
	display:flex;
	width: 25%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
}

.Logo img {
	height:35px;
}

.Logo p {
	margin-left: 20px;
}
/*#endregion logo*/

/*#region user*/
/*Mise en forme de l'icone d'utilisateur*/
.User {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 25%;
}

.User button:focus {
	outline: none;
}

.dropButton {
	background-image: url("../../../Design/icons/usr/icon_User@2x.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: #FF6153;
	background-size: contain;
	background-size: 15px;
	border-radius: 50px;
	border: none;
	height: 35px;
	width: 35px;
}

.dropButton:hover, .dropButton:focus {
	background-color: #2980B9;
	cursor:pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-Content {
	display: none;
	position: absolute;
	right: 0;
	border-radius:3px;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-Content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}

/*#endregion user*/

/*Fin du style du header*/
/*#endregion Global Header*/


/*#region Global Content*/

.Content {
	display: flex;
	justify-content: space-around;
	top: 0;
	margin: 100px 0 50px 0;
	width: 100%;
	position: relative;
	z-index: 50;
}

.mainContent {
	display: flex;
	flex-direction: column;
	width: 60%;
}

/*#endregion Global Content*/


/*#region Global Footer*/
/*Style du footer*/
.Footer {
	color: gray;
}


.Footer_1 {
	bottom: 0;
	margin: 0;
	padding: 5px 0;
	width: 100%;
	position: fixed;
	background-color: #007BBD;
	z-index: 100;
	visibility: hidden; /*à supprimer*/
}

.Footer_2 {
	bottom: 25px;
	margin: 0;
	padding: 5px 0;
	width: 100%;
	position: fixed;
	background-color: #12313F;
	z-index: 100;
	visibility: hidden; /*à supprimer*/
}


/*Fin du style du footer*/
/*#endregion Global Footer*/
